<% provide :title, "Resend confirmation instructions" %>

<h1><%= yield :title %></h1>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <% if devise_error_messages!.length > 0 %>
    <div class="alert alert-error">
      <%= devise_error_messages! %>
    </div>
  <% end %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.submit "Resend confirmation instructions", :class => "btn btn-info" %>
<% end %>

<%= render "devise/shared/links" %>
