<% provide :title, 'Welcome to your new site' %>

<h1><%= yield :title %></h1>

<% unless user_signed_in? %>
  <p><%= link_to 'Sign in', new_user_session_path %> to create your first lesson.</p>
<% end %>

<% if can? :create, Course %>
  <p>First, create a course.</p>
  <p><%= link_to 'New course', new_course_path, :class => "btn btn-primary btn-large"%>
<% end %>

<% if can? :create, Section %>
  <p>Next, create a section in your course.</p>
  <p><%= link_to 'New section', new_section_path, :class => "btn btn-warning btn-large" %></p>
<% end %>

<% if can? :create, Lesson %>
  <p>Finally, create a lesson.</p>
  <p><%= link_to 'New lesson', new_lesson_path, :class => "btn btn-success btn-large" %></p>
<% end %>
