<%= render 'layouts/errors', object: @section %>
<%= section_form do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :week, 'Section week' %>
    <%= f.text_field :week, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :layout_file_path, 'Section Layout File URL' %>
    <%= f.text_field :layout_file_path, class: 'form-control' %>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <%= f.label :public, class: "checkbox" do %>
        <%= f.check_box :public %>
        Public
      <% end %>
    </div>
  </div>
  <%= f.submit :class => "btn btn-info" %>
<% end %>
