<li class='section', id='section_<%= section.id %>'>
  <%= link_to section.name, section, :class => 'section' %>
  <% if can? :update, Section %>
    <%= link_to "(edit)", edit_section_path(section), :id => "edit_section_#{section.id}" %>
    <%= link_to "(delete)", section, :confirm => 'Are you sure?', :method => :delete, :remote => true, :id => "delete_section_#{section.id}" %>
    <%= f.fields_for 'sections_attributes[]', section do |ff| %>
      <%= ff.hidden_field :id %>
      <%= ff.hidden_field :chapter_id, :class => :section_chapter_id %>
      <%= ff.hidden_field :number, :class => :section_number %>
    <% end %>
  <% end %>
  <ul class='lesson'>
    <% section.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.name, lesson, :class => 'lesson' %>
        <%= f.fields_for 'lessons_attributes[]', lesson do |ff| %>
          <%= ff.hidden_field :id %>
          <%= ff.hidden_field :section_id, :class => :lesson_section_id %>
          <%= ff.hidden_field :number, :class => :lesson %>
        <% end %>
      <% end %>
    </li>
  </ul>
</li>
