<li class='section', id='section_<%= section.id %>'>
  <% unless section.course.dateless? %>
    <% if section.week == 0 %>
      (Pre-Work)
    <% elsif section.week %>
      (Week <%= section.week %>)
    <% end %>
  <% end %>
  <% if section.public? %>
    <%= link_to section.name, course_section_path(section.course, section), :class => 'section' %>
  <% else %>
    <%= link_to section.name, course_section_path(section.course, section), :class => 'section text-muted' %>
  <% end %>
  <% if can? :update, Section %>
    <%= link_to "(edit)", edit_course_section_path(section.course, section), :id => "edit_section_#{section.id}" %>
    <%= link_to course_section_path(section.course, section), :data => { :confirm => 'Delete SECTION?' }, :method => :delete, :id => "delete_section_#{section.id}" do %>
      <i class="glyphicon glyphicon-remove"></i>
    <% end %>
    <%= f.fields_for 'sections_attributes[]', section do |section_form| %>
      <%= section_form.hidden_field :number, :class => :section_number %>
    <% end %>
  <% end %>
  <ol class="lesson">
    <% section.lessons.accessible_by(current_ability).each do |lesson| %>
      <li>
        <% if lesson.lesson? %>
          <i class="glyphicon glyphicon-book"></i>
        <% else %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        <% unless section.try(:course).try(:dateless) %>
          <%= lesson.day_of_week.titlecase %>
        <% end %>

        <% if lesson.public? %>
          <%= link_to lesson.name, course_section_lesson_path(section.course, section, lesson), class: 'lesson' %>
        <% else %>
          <%= link_to lesson.name, course_section_lesson_path(section.course, section, lesson), class: 'lesson text-muted' %>
        <% end %>
      <% end %>
    </li>
  </ol>
</li>
