<li class='section', id='section_<%= section.id %>'>
  <% if section.week == 0 %>
    (Pre-Work)
  <% elsif section.week %>
    (Week <%= section.week %>)
  <% end %>
  <%= link_to section.name, section_show_path(section), :class => 'section' %>
  <% if can? :update, Section %>
    <%= link_to "(edit)", edit_course_section_path(section.course, section), :id => "edit_section_#{section.id}" %>
    <%= link_to "(delete)", section, :data => { :confirm => 'Are you sure?' }, :method => :delete,
                            :remote => true, :id => "delete_section_#{section.id}" %>
    <%= f.fields_for 'sections_attributes[]', section do |section_form| %>
      <%= section_form.hidden_field :number, :class => :section_number %>
    <% end %>
  <% end %>
  <ul class=<% if can? :update, Lesson %>
              "lesson sortable"
            <% else %>
              "lesson"
            <% end %>
            >
    <% section.lessons.accessible_by(current_ability).each do |lesson| %>
      <li>
        <% if LessonSection.find_by(lesson: lesson, section: section).homework? %>
          <i class="glyphicon glyphicon-book"></i>
        <% end %>
        <%= link_to lesson.name, section_lesson_show_path(section, lesson), :class => 'lesson' %>
          <% if can? :update, Lesson %>
            <%= f.fields_for 'lessons_attributes[]', lesson do |lesson_form| %>
              <%= lesson_form.hidden_field :id %>
              <%= lesson_form.hidden_field :number, { value: LessonSection.find_by(section_id: section.id, lesson_id: lesson.id).number, class: :lesson } %>
            <% end %>
        <% end %>
      <% end %>
    </li>
  </ul>
</li>
