<%= fields_for section.course do |course_form| %>
  <li class='section', id='section_<%= section.id %>'>
    <% if section.week == 0 %>
      (Pre-Work)
    <% elsif section.week %>
      (Week <%= section.week %>)
    <% end %>
    <%= link_to section.name, section_show_path(section), :class => 'section' %>
    <% if can? :update, Section %>
      <%= link_to "(edit)", edit_section_path(section), :id => "edit_section_#{section.id}" %>
      <%= link_to "(delete)", section, :data => { :confirm => 'Are you sure?' }, :method => :delete,
                              :remote => true, :id => "delete_section_#{section.id}" %>
      <%= course_form.fields_for 'sections_attributes[]', section do |section_form| %>
        <%= section_form.hidden_field :id %>
        <%= section_form.hidden_field :course_id, :class => :section_course_id %>
        <%= section_form.hidden_field :number, :class => :section_number %>
      <% end %>
    <% end %>
    <ul class=<% if can? :update, Lesson %>
                "lesson lesson-sortable"
              <% else %>
                "lesson"
              <% end %>
              >
      <% section.lessons.each do |lesson| %>
        <li>
          <% if lesson.tutorial? %>
            <i class="icon-book"></i>
          <% end %>
          <%= link_to lesson.name, lesson_show_path(section, lesson), :class => 'lesson' %>
          <%= course_form.fields_for 'lessons_attributes[]', lesson do |lesson_form| %>
            <%= lesson_form.hidden_field :id %>
            <% if can? :update, Lesson %>
              <%= lesson_form.hidden_field :number, { value: LessonSection.find_by(section_id: section.id, lesson_id: lesson.id).number, class: :lesson } %>
            <% end %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </li>
<% end %>
