<% provide :title, "Table of contents (chapters and sections)" %>

<h1><%= yield :title %></h1>

<p>To see a list of all lessons, <%= link_to 'click here', lessons_path %>.</p>

<ul>
  <% chapters.each do |chapter| %>
    <li>
      <%= link_to chapter.name, chapter %>
      <ul>
        <% chapter.sections.each do |section| %>
          <li><%= link_to section.name, section %></li>
        <% end %>
      </ul>
    </li>
  <% end%>
</ul>

<% if can? :create, Chapter %>
  <p><%= link_to 'New chapter', new_chapter_path, :class => "btn btn-primary btn-large"%>
<% end%>

<% if can? :create, Section %>
  <p><%= link_to 'New section', new_section_path, :class => "btn btn-warning btn-large" %></p>
<% end %>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => "btn btn-success btn-large" %></p>
<% end %>
