<% provide :title, @section.name %>
<% provide :course, @section.course.name %>

<ul class="breadcrumb">
  <li><%= link_to @section.course.name, course_path(@section.course) %></li>
  <li class="active"><%= @section.name %></li>
</ul>

<% if can? :manage, :all %>
  <div class="btn-group">
    <% if can? :update, Section %>
      <%= link_to "Edit", edit_course_section_path(@section.course, @section), class: "btn btn-info" %>
      <%= link_to "Delete", course_section_path(@section.course, @section), data: { confirm: 'Delete SECTION?' }, method: :delete, class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>

<ul class="lessons-list list-unstyled">
  <% @section.lessons.accessible_by(current_ability).each do |lesson| %>
    <li>
      <% if lesson.lesson? %>
        <i class="glyphicon glyphicon-book"></i>
      <% else %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <% unless @section.try(:course).try(:dateless) %>
        <%= lesson.day_of_week.titlecase %>
      <% end %>
      <% if lesson.public? %>
        <%= link_to lesson.name, course_section_lesson_path(@section.course, @section, lesson) %>
      <% else %>
        <%= link_to lesson.name, course_section_lesson_path(@section.course, @section, lesson), class: 'text-muted' %>
      <% end %>
    </li>
  <% end %>
</ul>
