<h1><%= @section.name %></h1>

<ul>
  <% @section.pages.each do |page| %>
    <li><%= link_to page.title, page %></li>
  <% end %>
</ul>

<% if can? :update, Section %>
  <p><%= link_to "Edit #{@section.name}", edit_section_path(@section), :class => "btn btn-large" %></p>
<% end %>

<% if can? :create, Page %>
  <p><%= link_to 'New page', new_page_path, :class => "btn btn-success btn-large" %></p>
<% end %>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav pull-right" id="main-menu-right">
          <li><%= link_to 'Table of contents', sections_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
