<% provide :title, @section.name %>

<ul class="breadcrumb">
  <li><%= link_to @section.course.name, course_path(@section.course) %></li>
  <li class="active"><%= @section.name %></li>
</ul>

<% if can? :manage, :all %>
  <div class="btn-group">
    <% if can? :update, Section %>
      <%= link_to "Edit", edit_course_section_path(@section.course, @section), class: "btn btn-info" %>
      <%= link_to "Delete", course_section_path(@section.course, @section), data: { confirm: 'Delete SECTION?' }, method: :delete, class: 'btn btn-primary' %>
    <% end %>

    <% if can? :create, Lesson %>
      <%= link_to 'New Lesson', new_lesson_path, :class => "btn btn-success" %>
    <% end %>
  </div>
<% end %>

<ul class="lessons-list list-unstyled">
  <% @section.lessons.accessible_by(current_ability).each do |lesson| %>
    <li>
      <% if LessonSection.find_by(lesson: lesson, section: @section).lesson? %>
        <i class="glyphicon glyphicon-book"></i>
      <% else %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= LessonSection.find_by(lesson: lesson.id, section: @section.id).day_of_week.titlecase %>
      <% if lesson.public? %>
        <%= link_to lesson.name, course_section_lesson_path(@section.course, @section, lesson) %>
      <% else %>
        <%= link_to lesson.name, course_section_lesson_path(@section.course, @section, lesson), class: 'text-muted' %>
      <% end %>
      <% if can? :create, Lesson %>
        <%= link_to lesson_path(lesson, section_id: @section.id), data: { confirm: 'Remove lesson from this section only?' }, method: :delete do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if can? :create, Lesson %>
  <% if @section.lesson_sections.only_deleted.any? %>
    <hr>
    <h3>Removed Lessons:</h3>
    <ul class="list-unstyled">
      <% @section.lesson_sections.only_deleted.each do |lesson_section| %>
        <li>
          <% if Lesson.with_deleted.find(lesson_section.lesson_id).deleted? %>
            <del><%= link_to Lesson.only_deleted.find(lesson_section.lesson_id).name, lesson_path(Lesson.only_deleted.find(lesson_section.lesson_id)) + '?deleted=true' %></del>
          <% else %>
            <%= link_to Lesson.find(lesson_section.lesson_id).name, lesson_path(Lesson.find(lesson_section.lesson_id)) %>
          <% end %>
          <%= link_to lesson_path(Lesson.with_deleted.find(lesson_section.lesson_id), section_id: @section.id, deleted: true), data: { confirm: 'Restore lesson to this section only?' }, method: :patch do %>
            <i class="glyphicon glyphicon-repeat"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
