<% provide :title, @section.name %>

<h1><%= yield :title %></h1>

<%= render 'lessons/search' %>

<ul>
  <% @section.lessons.each do |lesson| %>
    <li><%= link_to lesson.name, lesson %></li>
  <% end %>
</ul>

<% if can? :update, Section %>
  <p><%= link_to "Edit #{@section.name}", edit_section_path(@section), :class => "btn btn-large" %></p>
<% end %>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => "btn btn-success btn-large" %></p>
<% end %>

<%= render 'navbar' %>
