<% provide :title, @section.name %>

<ul class="breadcrumb">
  <li><%= link_to @section.course.name, course_path(@section.course) %></li>
  <li class="active"><%= @section.name %></li>
</ul>

<% if can? :manage, :all %>
  <div class="btn-group">
    <% if can? :update, Section %>
      <%= link_to "Edit", edit_course_section_path(@section.course, @section), class: "btn btn-info" %>
      <%= link_to "Delete", course_section_path(@section.course, @section), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-primary' %>
    <% end %>

    <% if can? :create, Lesson %>
      <%= link_to 'New Lesson', new_lesson_path, :class => "btn btn-success" %>
    <% end %>

    <%= link_to 'Export', course_section_export_path(@section.course, @section), :id => "export-btn", :class => "btn btn-default" %>

  </div>
<% end %>

<ul class="lessons-list list-unstyled">
  <% @section.lessons.accessible_by(current_ability).each do |lesson| %>
    <li>
      <% if LessonSection.find_by(lesson: lesson, section: @section).lesson? %>
        <i class="glyphicon glyphicon-book"></i>
      <% else %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= LessonSection.find_by(lesson: lesson.id, section: @section.id).day_of_week.titlecase %>
      <% if lesson.public? %>
        <%= link_to lesson.name, course_section_lesson_path(@section.course, @section, lesson) %>
      <% else %>
        <%= link_to lesson.name, course_section_lesson_path(@section.course, @section, lesson), class: 'text-muted' %>
      <% end %>
    </li>
  <% end %>
</ul>
