<h1><%= @page.title %></h1>

<p>
  <%= raw @page.body %>
</p>

<% if can? :update, Page %>
  <p><%= link_to "Edit #{@page.title}", edit_page_path(@page), :class => "btn btn-large" %></p>
<% end %>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav" id="main-menu-left">
          <% if @page.next %>
            <li><%= link_to 'Next page', @page.next %></li>
          <% end %>

          <% if @page.previous %>
            <li><%= link_to 'Previous page', @page.previous %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right" id="main-menu-right">
          <li><%= link_to 'Go to section contents', @page.section %></li>
          <li><%= link_to 'Go to table of contents', sections_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
