<h1><%= @page.title %></h1>

<%= raw @page.body %>

<% if can? :update, Page %>
  <p><%= link_to "Edit #{@page.title}", edit_page_path(@page) %></p>
<% end %>

<% if @page.next %>
  <p><%= link_to 'Next page', @page.next %></p>
<% end %>

<% if @page.previous %>
  <p><%= link_to 'Previous page', @page.previous %></p>
<% end %>

<p><%= link_to 'Go to section contents', @page.section %></p>
<p><%= link_to 'Go to table of contents', sections_path %></p>
