<%= render 'layouts/errors', object: @lesson %>
<%= lesson_form do |f| %>
  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :section_ids, 'Sections' %>
    <%= f.grouped_collection_select :section_ids, Course.with_sections.unscoped.order(:name), :sections, :name, :id, :name, {}, { class: 'multiselect-dropdown', multiple: true, include_hidden: false } %>
  </div>
  <div class="row">
    <div class="form-group col-xs-2">
      <%= f.label :video_id, "Video ID from Vimeo" %>
      <%= f.text_field :video_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <%= f.label :public do %>
        <%= f.check_box :public %>
        Public
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= render 'lesson_sections_fields', f: f %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Content (use Markdown)" %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cheat_sheet, "Cheat sheet (use Markdown)" %>
    <%= f.text_area :cheat_sheet, class: 'form-control cheat-sheet' %>
  </div>
  <div class="form-group">
    <%= f.label :update_warning, "Update warning (use Markdown)" %>
    <%= f.text_area :update_warning, class: 'form-control update-warning' %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", :class => "btn btn-info" %>
  </div>
<% end %>
