<% Section.all.each do |section| %>
  <div class="col-xs-3 lesson-type" id="section-<%= section.id %>-lesson-type">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= section.name %></h3>
      </div>
      <div class="panel-body">
        <%= f.fields_for :lesson_sections, LessonSection.find_or_initialize_by(lesson: @lesson, section: section) do |ff| %>
          <%= ff.hidden_field :section_id, value: section.id %>

          <div class="form-group">
            <div class="radio">
              <%= ff.label :work_type do %>
                <% if LessonSection.find_by(section: section, lesson: @lesson).try(:work_type) %>
                  <%= ff.radio_button :work_type, :homework %>Homework
                <% else %>
                  <%= ff.radio_button :work_type, :homework, checked: false %>Homework
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="radio">
              <%= ff.label :work_type do %>
                <% if LessonSection.find_by(section: section, lesson: @lesson).try(:work_type) %>
                  <%= ff.radio_button :work_type, :classwork %>Classwork
                <% else %>
                  <%= ff.radio_button :work_type, :classwork, checked: false %>Classwork
                <% end %>
              <% end %>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <div class="radio">
              <%= ff.label :day_of_week do %>
                <% if LessonSection.find_by(section: section, lesson: @lesson).try(:day_of_week) %>
                  <%= ff.radio_button :day_of_week, :weekend %>Weekend
                <% else %>
                  <%= ff.radio_button :day_of_week, :weekend, checked: false %>Weekend
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="radio">
              <%= ff.label :day_of_week do %>
                <% if LessonSection.find_by(section: section, lesson: @lesson).try(:day_of_week) %>
                  <%= ff.radio_button :day_of_week, :monday %>Monday
                <% else %>
                  <%= ff.radio_button :day_of_week, :monday, checked: false %>Monday
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="radio">
              <%= ff.label :day_of_week do %>
                <% if LessonSection.find_by(section: section, lesson: @lesson).try(:day_of_week) %>
                  <%= ff.radio_button :day_of_week, :tuesday %>Tuesday
                <% else %>
                  <%= ff.radio_button :day_of_week, :tuesday, checked: false %>Tuesday
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="radio">
              <%= ff.label :day_of_week do %>
                <% if LessonSection.find_by(section: section, lesson: @lesson).try(:day_of_week) %>
                  <%= ff.radio_button :day_of_week, :wednesday %>Wednesday
                <% else %>
                  <%= ff.radio_button :day_of_week, :wednesday, checked: false %>Wednesday
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="radio">
              <%= ff.label :day_of_week do %>
                <% if LessonSection.find_by(section: section, lesson: @lesson).try(:day_of_week) %>
                  <%= ff.radio_button :day_of_week, :thursday %>Thursday
                <% else %>
                  <%= ff.radio_button :day_of_week, :thursday, checked: false %>Thursday
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="radio">
              <%= ff.label :day_of_week do %>
                <% if LessonSection.find_by(section: section, lesson: @lesson).try(:day_of_week) %>
                  <%= ff.radio_button :day_of_week, :friday %>Friday
                <% else %>
                  <%= ff.radio_button :day_of_week, :friday, checked: false %>Friday
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
