<% provide :title, @query.nil? ? "Table of contents" : "Lessons containing '#{@query}'" %>

<h1><%= yield :title %></h1>

<%= render 'search' %>

<% if @query.nil? %>
  <ul>
    <% chapters.each do |chapter| %>
      <li>
        <%= link_to chapter.name, chapter %>
        <ul>
          <% chapter.sections.each do |section| %>
            <li>
              <%= link_to section.name, section %>
              <ul>
                <% section.lessons.each do |lesson| %>
                  <li><%= link_to lesson.name, lesson %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end%>
  </ul>
<% else %>
  <%= render 'results' %>
<% end %>

<% if can? :create, Chapter %>
  <p><%= link_to 'New chapter', new_chapter_path, :class => "btn btn-primary btn-large"%>
<% end%>

<% if can? :create, Section %>
  <p><%= link_to 'New section', new_section_path, :class => "btn btn-warning btn-large" %></p>
<% end %>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => "btn btn-success btn-large" %></p>
<% end %>
