<% provide :title, @lesson.name %>

<h1><%= yield :title %></h1>

<% if @lesson.has_video? %>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#video" data-toggle="tab">Video</a></li>
    <li>               <a href="#text" data-toggle="tab">Text</a></li>
    <li>               <a href="#cheat-sheet"  data-toggle="tab">Cheat sheet</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="video">
      <iframe src="http://player.vimeo.com/video/<%= @lesson.video_id %>"
              frameborder="0"
              webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="tab-pane" id="text">
      <%= render 'content' %>
    </div>
    <div class="tab-pane" id="cheat-sheet">
      <% if @lesson.has_cheat_sheet? %>
        <%= markdown @lesson.cheat_sheet %>
      <% else %>
        <p>Coming soon!</p>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'content' %>
<% end %>

<% if can? :update, Lesson %>
  <% if @lesson.deleted? %>
    <%= form_for @lesson, :url => { :deleted => true } do |f| %>
      <%= f.hidden_field :deleted_at, :value => nil %>
      <%= f.submit "Restore", :class => "btn btn-large" %>
    <% end %>
  <% else %>
    <p><%= link_to "Edit #{@lesson.name}", edit_lesson_path(@lesson), :class => "btn btn-large" %></p>
  <% end %>
<% end %>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => 'btn btn-success btn-large' %></p>
<% end %>

<%= render 'navbar' %>
