<% provide :title, @lesson.name %>

<% if @lesson_section.try(:work_type) %>
  <span class="label label-info"><%= @lesson_section.work_type.titlecase %></span>
<% end %>

<% if @lesson_section.try(:day_of_week) %>
  <span class="label label-primary"><%= @lesson_section.day_of_week.titlecase %></span>
<% end %>

<% unless params[:deleted] %>
  <ul class="breadcrumb">
    <% if @section %>
      <li><%= link_to @section.course.name, course_path(@section.course) %></li>
      <li><%= link_to @section.name, course_section_path(@section.course, @section) %></li>
    <% end %>
    <li class="active"><%= @lesson.name %></li>
  </ul>
<% end %>

<% if can? :manage, Lesson %>
  <% if @lesson.deleted? %>
    <div class="form-group">
      <%= form_for @lesson, url: lesson_path(@lesson, deleted: true), method: :patch do |f| %>
        <%= f.hidden_field :deleted_at, value: nil %>
        <%= f.submit "Restore", data: { confirm: 'Restore lesson to ALL sections it has ever belonged to?' }, class: "btn btn-info" %>
      <% end %>
    </div>
    <div class="form-group">
      <%= link_to 'New Lesson', new_lesson_path, class: 'btn btn-success' %>
    </div>
  <% else %>
    <div class="btn-group">
      <%= link_to "Edit", edit_lesson_path(@lesson), class: "btn btn-info" %>
      <%= link_to "Delete", lesson_path(@lesson), data: { confirm: 'Delete lesson from ALL sections?' }, method: :delete, class: 'btn btn-primary' %>
      <%= link_to 'New Lesson', new_lesson_path, class: 'btn btn-success' %>
    </div>
  <% end %>
<% end %>


<ul class="nav nav-tabs">
  <% if @lesson.has_video? %>
    <li class="active"><a href="#video" data-toggle="tab">Video</a></li>
    <li               ><a href="#text" data-toggle="tab">Text</a></li>
  <% else %>
    <li class="active"><a href="#text" data-toggle="tab">Text</a></li>
  <% end %>

  <% if @lesson.has_cheat_sheet? %>
    <li><a href="#cheat-sheet"  data-toggle="tab">Cheat sheet</a></li>
  <% end %>

  <% if @lesson.teacher_notes? && (can? :manage, Lesson) %>
    <li><a href="#teacher-notes"  data-toggle="tab">Teacher notes</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% if @lesson.has_video? %>
    <div class="tab-pane active in video" id="video">
      <%= render 'video' %>
    </div>
    <div class="tab-pane" id="text">
      <%= render 'content' %>
    </div>
  <% else %>
    <div class="tab-pane active in" id="text">
      <%= render 'content' %>
    </div>
  <% end %>

  <% if @lesson.has_cheat_sheet? %>
    <div class="tab-pane" id="cheat-sheet">
      <%= render 'cheat_sheet' %>
    </div>
  <% end %>

  <% if @lesson.teacher_notes? && (can? :manage, Lesson) %>
    <div class="tab-pane" id="teacher-notes">
      <%= render 'teacher_notes' %>
    </div>
  <% end %>
</div>

<% if can? :manage, Lesson %>
  <p class="text-center text-muted">Last updated <%= time_ago_in_words(@lesson.updated_at) %> ago</p>
<% end %>

<%= render 'navbar' %>
