<% provide :title, @lesson.name %>

<h1><%= yield :title %></h1>

<% if @lesson.has_video? %>
  <div id="video">
    <iframe src="http://player.vimeo.com/video/<%= @lesson.video_id %>"
            frameborder="0"
            webkitAllowFullScreen
            mozallowfullscreen
            allowFullScreen></iframe>
  </div>
<% end %>

<h2>Text version:</h2>

<%= raw @lesson.content %>

<% if can? :update, Lesson %>
  <% if @lesson.deleted? %>
    <%= form_for @lesson, :url => {:deleted => true} do |f| %>
      <%= f.hidden_field :deleted_at, :value => nil %>
      <%= f.submit "Restore", :class => "btn btn-large" %>
    <% end %>
  <% else %>
    <p><%= link_to "Edit #{@lesson.name}", edit_lesson_path(@lesson), :class => "btn btn-large" %></p>
  <% end %>
<% end %>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => 'btn btn-success btn-large' %></p>
<% end %>

<%= render 'navbar' %>
