<% provide :title, @lesson.name %>
<% provide :course, @lesson.section.name || @lesson.section.course.name %>

<% if @lesson.work_type %>
  <span class="label label-info"><%= @lesson.work_type.titlecase %></span>
<% end %>

<% if @lesson.day_of_week && !@lesson.section.course.dateless %>
  <span class="label label-primary"><%= @lesson.day_of_week.titlecase %></span>
<% end %>

<ul class="breadcrumb">
  <li><%= link_to @lesson.section.course.name, course_path(@lesson.section.course) %></li>
  <li><%= link_to @lesson.section.name, course_section_path(@lesson.section.course, @lesson.section) %></li>
  <% if (can? :manage, Lesson) && @lesson.github_path.present? %>
    <li class="active"><%= link_to @lesson.name, @lesson.github_path, target: '_blank' %></li>
  <% else %>
    <li class="active"><%= @lesson.name %></li>
  <% end %>
</ul>

<ul class="nav nav-tabs">
  <% if @lesson.has_video? %>
    <li class="active"><a href="#video" data-toggle="tab">Video</a></li>
    <li               ><a href="#text" data-toggle="tab">Text</a></li>
  <% else %>
    <li class="active"><a href="#text" data-toggle="tab">Text</a></li>
  <% end %>

  <% if @lesson.has_cheat_sheet? %>
    <li><a href="#cheat-sheet"  data-toggle="tab">Cheat sheet</a></li>
  <% end %>

  <% if @lesson.teacher_notes? && (can? :manage, Lesson) %>
    <li><a href="#teacher-notes"  data-toggle="tab">Teacher notes</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% if @lesson.has_video? %>
    <div class="tab-pane active in video" id="video">
      <%= render 'video' %>
    </div>
    <div class="tab-pane" id="text">
      <%= render 'content' %>
    </div>
  <% else %>
    <div class="tab-pane active in" id="text">
      <%= render 'content' %>
    </div>
  <% end %>

  <% if @lesson.has_cheat_sheet? %>
    <div class="tab-pane" id="cheat-sheet">
      <%= render 'cheat_sheet' %>
    </div>
  <% end %>

  <% if @lesson.teacher_notes? && (can? :manage, Lesson) %>
    <div class="tab-pane" id="teacher-notes">
      <%= render 'teacher_notes' %>
    </div>
  <% end %>
</div>

<div class='row'>
  <% if @lesson.can_navigate_to(:previous) %>
    <div class='col-md-1'>
      <%= link_to 'Previous', course_section_lesson_path(@lesson.section.course, @lesson.section, @lesson.navigate_to(:previous)), id: 'navbar-bottom-previous-link' %>
    </div>
  <% end %>
  <% if @lesson.can_navigate_to(:next) %>
    <div class='col-md-1 col-md-offset-10'>
      <%= link_to 'Next', course_section_lesson_path(@lesson.section.course, @lesson.section, @lesson.navigate_to(:next)), id: 'navbar-bottom-next-link' %>
    </div>
  <% end %>
</div>

<p class="text-center text-muted" id='lesson-footer'>
  Lesson <%= @lesson.index + 1 %> of <%= @lesson.section.lessons.count %><br>
  Last updated <%= @lesson.updated_at > Time.now - 3.months ? @lesson.updated_at.strftime('%B %-d, %Y') : 'more than 3 months ago.' %>
</p>

<%= render 'navbar' %>
