<% provide :title, @lesson.name %>

<h1><%= @lesson.name %></h1>

<p>
  <%= raw @lesson.content %>
</p>

<% if can? :update, Lesson %>
  <p><%= link_to "Edit #{@lesson.name}", edit_lesson_path(@lesson), :class => "btn btn-large" %></p>
<% end %>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => 'btn btn-success btn-large' %></p>
<% end %>

<%= render 'navbar' %>
