<%= form_for @course, method: :put do |f| %>
	<div id="course_<%= @course.id %>">
		<% if can? :update, Course %>
			<div class="btn-group">
				<%= link_to "Edit", edit_course_path(@course), id: "edit_course_#{@course.id}", class: 'btn btn-info' %>
				<%= link_to "Delete", @course, data: { confirm: 'Are you sure?' }, method: :delete, id: "delete_course_#{@course.id}", class: 'btn btn-primary' %>
				<% if can? :create, Section %>
					<%= link_to "New Section", new_course_section_path(@course), class: "btn btn-success" %>
				<% end %>
				<%= f.submit 'Save Order', class: 'btn btn-danger', id: 'save_order' %>
			</div>
			<%= f.hidden_field :number, class: :course %>
			<ul class='section list-unstyled'>
				<%= render @course.sections %>
			</ul>
		<% else %>
			<ul class="list-unstyled"><%= render @course.sections.accessible_by(current_ability) %></ul>
		<% end %>
	</div>
<% end %>
