<% provide :title, 'Courses' %>

<h1><%= yield :title %></h1>

<%= render 'lessons/search' %>

<% if can? :update, Course %>
  <div class="course">
    <%= render @courses %>
  </div>
<% else %>
  <%= render @courses %>
<% end %>

<% if can? :create, Course %>
  <p><%= link_to 'New course', new_course_path, :remote => true, :class => 'btn btn-primary btn-large', :id => 'new_course_link' %>
<% end%>

<% if can? :create, Section %>
  <p><%= link_to 'New section', new_section_path, :remote => true, :class => 'btn btn-warning btn-large', :id => 'new_section_link' %></p>
<% end %>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => 'btn btn-success btn-large' %></p>
<% end %>

<% if can? :update, Lesson %>
  <%= link_to 'View deleted lessons', lessons_path + '?deleted=true' %>
<% end %>
