<% provide :title, 'Courses' %>

<h1><%= yield :title %></h1>

<%= render 'lessons/search' %>

<ul class="unstyled-list">
  <% public_courses_helper(@courses) do |course| %>
    <li><%= link_to course.name, course_path(course), class: 'main-course-link' %></li>
  <% end %>
</ul>

<% if can? :create, Course %>
  <p><%= link_to 'New course', new_course_path, :class => 'btn btn-primary btn-large', :id => 'new_course_link' %>
<% end%>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => "btn btn-success btn-large" %></p>
<% end %>

<% if can? :update, Lesson %>
  <p><%= link_to 'View deleted lessons', lessons_path + '?deleted=true' %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to('Log out', destroy_user_session_path, method: :delete, class: 'btn btn-small btn-info') %>
<% end %>
