<% provide :title, 'Courses' %>
<h1><%= yield :title %></h1>

<%= form_tag update_multiple_courses_path, method: :put do %>
  <% if can? :manage, :all %>
    <div class="btn-group">
      <% if can? :create, Course %>
        <%= link_to 'New Course', new_course_path, class: 'btn btn-info', id: 'new_course_link' %>
      <% end%>

      <% if can? :create, Lesson %>
        <%= link_to 'New Lesson', new_lesson_path, class: "btn btn-success" %>
      <% end %>

      <% if can? :update, Lesson %>
        <%= link_to 'View Deleted Lessons', lessons_path + '?deleted=true', class: 'btn btn-primary' %>
        <%= submit_tag "Save Order", id: "save_course_order", class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>


  <ul class="list-unstyled course-sortable">
    <% @courses.accessible_by(current_ability).each do |course| %>
      <li><%= link_to course.name, course_path(course) %>
        <%= fields_for 'course_attributes[]', course do |course_form| %>
          <%= course_form.hidden_field :number, :class => :course_number %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
