<% provide :title, 'Courses' %>
<h1><%= yield :title %></h1>

<% if can? :manage, :all %>
  <div class="btn-group">
    <% if can? :create, Course %>
      <%= link_to 'New Course', new_course_path, class: 'btn btn-info', id: 'new_course_link' %>
    <% end%>

    <% if can? :create, Lesson %>
      <%= link_to 'New Lesson', new_lesson_path, class: "btn btn-success" %>
    <% end %>

    <% if can? :update, Lesson %>
      <%= link_to 'View Deleted Lessons', lessons_path + '?deleted=true', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>

<ul class="list-unstyled">
  <% @courses.accessible_by(current_ability).each do |course| %>
    <li><%= link_to course.name, course_path(course) %></li>
  <% end %>
</ul>
