<% provide :title, @course.name %>

<h1><%= yield :title %></h1>

<ul>
  <% @course.sections.each do |section| %>
    <h3><%= link_to section.name, section_show_path(section), class: 'header-link' %></h3>
    <ul>
      <% section.lessons.each do |lesson| %>
        <li><%= link_to lesson.name, lesson_show_path(section, lesson) %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<% if can? :update, Course %>
  <p><%= link_to "Edit #{@course.name}", edit_course_path(@course), :class => "btn btn-large" %></p>
<% end%>

<% if can? :create, Section %>
  <p><%= link_to "New section", new_section_path, :class => "btn btn-warning btn-large" %></p>
<% end %>
