<% provide :title, 'Table of contents' %>

<h1><%= yield :title %></h1>

<%= render 'lessons/search' %>

<% if can? :update, Chapter %>
  <div class="chapter">
    <%= form_tag update_multiple_chapters_path, :method => :put do %>
      <%= render @chapters %>
    <%= submit_tag 'Save order', :class => 'btn btn-primary', :id => 'save_order' %>
    <% end %>
  </div>
<% else %>
  <%= render @chapters %>
<% end %>

<% if can? :create, Chapter %>
  <p><%= link_to 'New chapter', new_chapter_path, :remote => true, :class => 'btn btn-primary btn-large', :id => 'new_chapter_link' %>
<% end%>

<% if can? :create, Section %>
  <p><%= link_to 'New section', new_section_path, :remote => true, :class => 'btn btn-warning btn-large', :id => 'new_section_link' %></p>
<% end %>

<% if can? :create, Lesson %>
  <p><%= link_to 'New lesson', new_lesson_path, :class => 'btn btn-success btn-large' %></p>
<% end %>

<% if can? :update, Lesson %>
  <%= link_to 'View deleted lessons', lessons_path + '?deleted=true' %>
<% end %>
