<% provide :title, @chapter.name %>

<h1><%= yield :title %></h1>

<ul>
  <% @chapter.sections.each do |section| %>
    <li><%= link_to section.name, section %></li>
    <ul>
      <% section.lessons.each do |lesson| %>
        <li><%= link_to lesson.name, lesson %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<% if can? :update, Chapter %>
  <p><%= link_to "Edit #{@chapter.name}", edit_chapter_path(@chapter), :class => "btn btn-large" %></p>
<% end%>

<% if can? :create, Section %>
  <p><%= link_to "New section", new_section_path, :class => "btn btn-warning btn-large" %></p>
<% end %>

<%= render 'navbar' %>
