<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if notice %>
          <div class="alert alert-info"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-error"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Courses', courses_path, class: 'navbar-brand' %>
      </div>
      <div id='navbar' class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= yield :forward_back %></li>
        </ul>

        <ul class="nav navbar-nav pull-right">
          <li id="navbar-search">
          <%= form_tag '/lessons', method: 'get', class: 'navbar-form navbar-left' do %>
            <div class="input-group">
              <%= text_field_tag :search, nil, placeholder: 'Search lessons', class: 'form-control' %>
              <div class="input-group-btn">
                <%= button_tag 'Search', class: 'btn btn-info', id: 'lesson-search' do %>
                  <span class="glyphicon glyphicon-search"></span>
                <% end %>
              </div>
            </div>
          <% end %>
          </li>

          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, data: { confirm: 'Are you sure?' }, method: :delete%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <footer class="footer">
    <div class="container">
      <p>&#169; <%= Time.zone.now.year %> <%= link_to 'Epicodus', 'http://www.epicodus.com/' %>, Inc.</p>
    </div>
  </footer>

  <% if Rails.env != 'test' %>
    <!-- begin usabilla live embed code -->
    <script type="text/javascript">/*{literal}<![CDATA[*/window.lightningjs||function(c){function g(b,d){d&&(d+=(/\?/.test(d)?"&":"?")+"lv=1");c[b]||function(){var i=window,h=document,j=b,g=h.location.protocol,l="load",k=0;(function(){function b(){a.P(l);a.w=1;c[j]("_load")}c[j]=function(){function m(){m.id=e;return c[j].apply(m,arguments)}var b,e=++k;b=this&&this!=i?this.id||0:0;(a.s=a.s||[]).push([e,b,arguments]);m.then=function(b,c,h){var d=a.fh[e]=a.fh[e]||[],j=a.eh[e]=a.eh[e]||[],f=a.ph[e]=a.ph[e]||[];b&&d.push(b);c&&j.push(c);h&&f.push(h);return m};return m};var a=c[j]._={};a.fh={};a.eh={};a.ph={};a.l=d?d.replace(/^\/\//,(g=="https:"?g:"http:")+"//"):d;a.p={0:+new Date};a.P=function(b){a.p[b]=new Date-a.p[0]};a.w&&b();i.addEventListener?i.addEventListener(l,b,!1):i.attachEvent("on"+l,b);var q=function(){function b(){return["<head></head><",c,' onload="var d=',n,";d.getElementsByTagName('head')[0].",d,"(d.",g,"('script')).",i,"='",a.l,"'\"></",c,">"].join("")}var c="body",e=h[c];if(!e)return setTimeout(q,100);a.P(1);var d="appendChild",g="createElement",i="src",k=h[g]("div"),l=k[d](h[g]("div")),f=h[g]("iframe"),n="document",p;k.style.display="none";e.insertBefore(k,e.firstChild).id=o+"-"+j;f.frameBorder="0";f.id=o+"-frame-"+j;/MSIE[ ]+6/.test(navigator.userAgent)&&(f[i]="javascript:false");f.allowTransparency="true";l[d](f);try{f.contentWindow[n].open()}catch(s){a.domain=h.domain,p="javascript:var d="+n+".open();d.domain='"+h.domain+"';",f[i]=p+"void(0);"}try{var r=f.contentWindow[n];r.write(b());r.close()}catch(t){f[i]=p+'d.write("'+b().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};a.l&&setTimeout(q,0)})()}();c[b].lv="1";return c[b]}var o="lightningjs",k=window[o]=g(o);k.require=g;k.modules=c}({});
    window.usabilla_live = lightningjs.require("usabilla_live", "//w.usabilla.com/a5a2c64ff5b8.js");
    /*]]>{/literal}*/</script>
    <!-- end usabilla live embed code -->
  <% end %>
</body>
</html>
